<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
			integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
			crossorigin="anonymous"
		/>
		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"
		></script>
		<link rel="stylesheet" type="text/css" href="/css/bookmovie.css" />
		<link rel="stylesheet" type="text/css" href="/css/seating.css" />
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">MovieBooking</a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#"
							>Home <span class="sr-only">(current)</span></a
						>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle"
							href="#"
							id="navbarDropdown"
							role="button"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
						>
							Dropdown
						</a>
						<div
							class="dropdown-menu"
							aria-labelledby="navbarDropdown"
						>
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#"
								>Something else here</a
							>
						</div>
					</li>
					<li class="nav-item">
						<a
							class="nav-link disabled"
							href="#"
							tabindex="-1"
							aria-disabled="true"
							>Disabled</a
						>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input
						class="form-control mr-sm-2"
						type="search"
						placeholder="Search"
						aria-label="Search"
					/>
					<button
						class="btn btn-outline-success my-2 my-sm-0"
						type="submit"
					>
						Search
					</button>
				</form>
			</div>
		</nav>
		<section class="movie_details">
			<div class="row">
				<div class="col images">
					<img
						class="img-fluid"
						id="mainimage"
						src="../<%=movies[0].mv_image%>"
					/>
				</div>
				<div class="col description" style="padding-top:5%">
					<h4 id="bookname"><b><%=movies[0].mvname%></b></h4>
					<h4 id="bookdesc">
						<b>Description:</b><br /><%=movies[0].mv_desc%>
					</h4>
					<h3 style="color:white">Rating</h3>
					<% include rating.ejs %>
					<input
						type="text"
						placeholder="<%=movies[0].mv_id%>"
						value="<%=movies[0].mv_id%>"
						disabled
						id="mvid"
					/>
				</div>
			</div>
		</section>
		<section>
			<div class="row">
				<div
					class="split left"
					style="background-image: linear-gradient(brown, #e92b2b ); "
				>
					<h3 style="color:white;">Seat diagram</h3>

					<div id="holder">
						<ul id="place"></ul>
					</div>
					<div class="col">
						<button
							type="submit"
							id="bookbutton"
							class="btn btn-primary"
						>
							Book now
						</button>
					</div>
				</div>

				<div class="split right" style="background-color: azure;">
					<table class="table" id="myTable">
						<thead>
							<tr>
								<th style="width:60%;">Name</th>
								<th style="width:40%;">Location</th>
								<th style="width:40%;">Seats</th>
								<th style="width:40%;">Time</th>
								<th style="width:40%;">Date</th>
							</tr>
						</thead>
						<tbody>
							<% for(var i=0;i<venue.length;i++){%>
								<tr>
									<td><%=venue[i].evenue%></td>
									<td><%=venue[i].ecity%></td>
									<td><%=venue[i].eseats%></td>
									<td><%=venue[i].etime%></td>
									<td><%=venue[i].edate%></td>
									<td hidden><%=venue[i].ecol%></td>
									<td hidden><%=venue[i].erow%></td>
								</tr>
								<%}%>
						</tbody>
					</table>
				</div>
			</div>
		</section>
		<section></section>

		<script>
			$("#myTable tr").click(function() {
				tableData = $(this)
					.children("td")
					.map(function() {
						return $(this)
							.text()
							.trim();
							var td = tableData[1].toString();
							window.alert(td);
					})
					.get();
				var settings = {
					rows: parseInt(tableData[6].toString()),
					cols: parseInt(tableData[5].toString()),
					rowCssPrefix: "row-",
					colCssPrefix: "col-",
					seatWidth: 35,
					seatHeight: 35,
					seatCss: "seat",
					selectedSeatCss: "selectedSeat",
					selectingSeatCss: "selectingSeat"
				};
				var init = function(reservedSeat) {
					var str = [],
						seatNo,
						className;
					for (i = 0; i < settings.rows; i++) {
						for (j = 0; j < settings.cols; j++) {
							seatNo = i + j * settings.rows + 1;
							className =
								settings.seatCss +
								" " +
								settings.rowCssPrefix +
								i.toString() +
								" " +
								settings.colCssPrefix +
								j.toString();
							if (
								$.isArray(reservedSeat) &&
								$.inArray(seatNo, reservedSeat) != -1
							) {
								className += " " + settings.selectedSeatCss;
							}
							str.push(
								'<li class="' +
									className +
									'"' +
									'style="top:' +
									(i * settings.seatHeight).toString() +
									"px;left:" +
									(j * settings.seatWidth).toString() +
									'px">' +
									'<a title="' +
									seatNo +
									'">' +
									seatNo +
									"</a>" +
									"</li>"
							);
						}
					}
					$("#place").html(str.join(""));
				};
				//case I: Show from starting
				//init();
				//Case II: If already booked
				var bookedSeats = [5, 10, 25];
				init(bookedSeats);
				$("." + settings.seatCss).click(function() {
					if ($(this).hasClass(settings.selectedSeatCss)) {
						alert("This seat is already reserved");
					} else {
						$(this).toggleClass(settings.selectingSeatCss);
					}
				});
				$("#btnShow").click(function() {
					var str = [];
					$.each(
						$(
							"#place li." +
								settings.selectedSeatCss +
								" a, #place li." +
								settings.selectingSeatCss +
								" a"
						),
						function(index, value) {
							str.push($(this).attr("title"));
						}
					);
					alert(str.join(","));
				});
				$("#bookbutton").click(function() {
					var str = [],
						item;
					$.each(
						$("#place li." + settings.selectingSeatCss + " a"),
						function(index, value) {
							item = $(this).attr("title");
							str.push(item);
						}
					);
					localStorage.setItem("storagename", str);
					window.location.href = "/confirm/<%=userID%>";
				});
			});
		</script>
	</body>
</html>