<!DOCTYPE html>
<html>
	<head>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" type="text/css" href="/css/event_register.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body id="backbody">
		<div class="row">
			<div class="col-md-4 left"></div>
			<div class="col-md-4 form-center">
				<form action="/eventmodify/<%=userID%>" method="post">
					<input type="text" name="uid" value="<%=result[0]._id%>" hidden>
					<!-- <input type="radio" value="movies"  name="etype" id="mtype" onclick="movies()"><b>movies</b>
        <input type="radio" value=events" name="etype" id="etype" onclick="events()"><b>events</b><br><br> -->
					 <h5>Movie name</h5>
				<!--	<input
						type="text"
						
						name="ename1"
						id="ename1"
                        
					/> -->
					<select id="ename" name="ename" type="text"> 
						<% for(var i=0;i<movies.length;i++){ %>
							<% if(movies[i].mv_type=="movies"){ %>
						<option><%=movies[i].mvname%></option>
						<%}}%>
					</select>
					<br><br>
					<!-- <h5>Event Type</h5>
					<select id="etype" name="etype" type="text">
							<% for(var i=0;i<movies.length;i++){ %>
							<option><%=movies[i].mv_type%></option>
							<%}%>
						</select><br><br> -->
					<h5>Time Slot</h5>
					<select id="etime" name="etime" type="text">
						<option>Morning (9:00AM-11:30AM)</option>
						<option>Noon (12:30PM-3:00PM)</option>
						<option>Evening (7:00PM-9:30PM)</option>
					</select><br><br>
					<h5>Venue</h5>
					<select id="evenue" name="evenue" type="text">
							<% for(var i=0;i<venue.length;i++){ %>
									<% if(venue[i].v_type=="movie"){ %>
							<option><%=venue[i].v_name%></option>
							<%}}%>
						</select><br><br>
                    <h5>Number of seats</h5>
					<input
						type="number"
						
                        name="eseats"
                        value="<%=result[0].eseats%>"
					/><br /><br />
					
					<h5>Movie Date</h5>
					<input
						type="date"
						placeholder="dd/mm/yyyy"
                        name="edate"
                        value="<%=result[0].edate%>"
					/><br /><br />
					<h5>Price</h5>
					<input
						type="text"
						
                        name="eprice"
                        
					/><br /><br />
					<input
						class="btn btn-block btn-lg btn-primary submit"
						id="submit-button"
						type="submit"
						value="Modify Event"
					/>
				</form>
			</div>
			<div class="col-md-4 right"></div>
		</div>
	</body>

	<script>
// 	var optionValues =[];
// $('#etype option').each(function(){
//    if($.inArray(this.value, optionValues) >-1){
//       $(this).remove()
//    }else{
//       optionValues.push(this.value);
//    }
// });

var optionValues =[];
$('#ename option').each(function(){
   if($.inArray(this.value, optionValues) >-1){
      $(this).remove()
   }else{
      optionValues.push(this.value);
   }
});

// function movies(){
// 	document.getElementById('ename').style.display="block";
// 	document.getElementById('ename1').style.display="none";
// }
// function events(){
// 	document.getElementById('ename1').style.display="block";
// 	document.getElementById('ename').style.display="none";
// }

// function name(){
// 	document.getElementById('ename').style.display="none";
// 	document.getElementById('ename1').style.display="none";
// }

</script>
</html>