<!DOCTYPE html>
<html>
	<head>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" type="text/css" href="/css/event_register.css" />
	</head>
	<body id="backbody">
		<div class="row">
			<div class="col-md-4 left"></div>
			<div class="col-md-4 form-center">
				<form action="/eventmodify/<%=userID%>" method="post">
					<input type="text" name="uid" value="<%=result[0]._id%>" hidden>
					<h5>Event name</h5>
					<input
						type="text"
						placeholder="Name"
                        name="ename"
                        value="<%=result[0].ename%>"
					/><br /><br />
					<h5>Language</h5>
					<input
						type="text"
						placeholder="Language"
                        name="elang"
                        value="<%=result[0].elang%>"
					/><br /><br />
					<h5>Event Type</h5>
					<input
						type="text"
						placeholder="events orr movies"
                        name="etype"
                        value="<%=result[0].etype%>"
					/><br /><br />
					<h5>Time Slot</h5>
					<select id="etime" name="etime" type="text">
						<option>Morning (9:00AM-11:30AM)</option>
						<option>Noon (12:30PM-3:00PM)</option>
						<option>Evening (7:00PM-9:30PM)</option>
					</select><br><br>
					<h5>Venue</h5>
					<input
						type="text"
						placeholder="venue"
                        name="evenue"
                        value="<%=result[0].evenue%>"
                    /><br /><br />
                    <h5>Number of seats</h5>
					<input
						type="number"
						
                        name="eseats"
                        value="<%=result[0].eseats%>"
					/><br /><br />
					<h5>Location</h5>
					<input
						type="text"
						placeholder="City"
                        name="ecity"
                        value="<%=result[0].ecity%>"
					/><br /><br />
					<h5>Event Date</h5>
					<input
						type="date"
						placeholder="dd/mm/yyyy"
                        name="edate"
                        value="<%=result[0].edate%>"
					/><br /><br />
					<input
						class="btn btn-block btn-lg btn-primary submit"
						id="submit-button"
						type="submit"
						value="Modify Event"
					/>
				</form>
			</div>
			<div class="col-md-4 right"></div>
		</div>
	</body>
</html>
