<% for(var i=0;i<venue.length;i++){%>
<tr>
	<td><%=venue[i].v_name%></td>
	<td><%=venue[i].v_location%></td>
	<td><%=venue[i].v_seats%></td>
	<td hidden><%=venue[i].cols%></td>
	<td hidden><%=venue[i].row%></td>
</tr>
<%}%>