<% for(var i=0;i<venue.length;i++){%>
        <tr>
            <td><%=venue[i].evenue%></td>
            <td><%=venue[i].ecity%></td>
            <td><%=venue[i].eseats%></td>
            <td><%=venue[i].etime%></td>
            <td><%=venue[i].edate%></td>
            <td hidden><%=venue[i].ecol%></td>
            <td hidden><%=venue[i].erow%></td>
        </tr>
        <%}%>