<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/movie_landing.css">
</head>
<body id="colorbg">
		<div class="col-md-10 blue">
		
	</div>

	<div class="col-md-2 blue1">
		<button type="button" class="btn btn-outline-info">Profile</button>
	</div>

	<div class="col-md-2">
		<div class="sidenav">
	<!-- <a href="#" id="pro"><button class="btn btn-danger btn-lg">Profile</button></a>
	<a href="#"><button class="btn btn-primary btn-lg">Settings</button></a>
	<a href="#"><button class="btn btn-warning btn-lg">Show Analysis</button></a> -->
	
</div>
	</div>

	<% for(var i=0;i<result.length;i++){
		%><div class="col-xs-18 col-sm-4 col-md-2 thumbnails">
						<div class="thumbnail">
							<input type="number" id="num" value="<%=i%>" placeholder="<%=i%>" disabled>
							
							<a name="<%=result[i]._id%>" id="<%=i%>" onclick="openForm('<%=i%>')"><img  src="<%=result[i].mv_image%>"  /></a>
							
						</div>
		
					</div>
		
		<%} %>
		</div>
					
			 
		
		<div class="form-popup" id="myForm">
			<div class="form-container">
				<input type="number" id="formnum"  placeholder="" disabled>
				<h6 id="mv_id"> </h6>  
				<b><h2 id="mvname" align="center">Movie</h2></b>
				<h4 id="lang" align="left" >Language</h4>
				<h4 id="rating">Rating</h4>
				<i><p id="desc">Description</p></i>
				
				<button type="button" class="btn cancel" onclick="mynum()">Book Tickets</button>
				<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
				 
			</div>
		</div>
		
		<script>
		
		function openForm(a) {
		 
			var moviename,des,l,r;
			<%for(var i=0;i<result.length;i++){%>
			if(a==<%=i%>){
				moviename= "<%= String(result[i].mvname) %>";
				des= "<%= String(result[i].mv_desc) %>";
				l= "<%= String(result[i].mv_lang) %>";
				r= "<%= String(result[i].mv_rating) %>";
				id= "<%= String(result[i].mv_id) %>";
			}
			<%}%>
			console.log(moviename);
			document.getElementById("formnum").value=a;  
			document.getElementById("mv_id").innerHTML=String(id);
			document.getElementById("myForm").style.display = "block";
			document.getElementById("mvname").innerHTML=String(moviename);
			document.getElementById("desc").innerHTML=String(des);
			document.getElementById("lang").innerHTML=String(l);
			document.getElementById("rating").innerHTML=String(r);
			
				
		}
		
		function closeForm() {
			document.getElementById("myForm").style.display = "none";
		}

		function mynum(){
			var num=document.getElementById("formnum").value;
			var moviename1
			<%for(var i=0;i<result.length;i++){%>
			if(num==<%=i%>){
				moviename1= "<%= String(result[i].mvname) %>";
				movieid="<%= String(result[i].mv_id) %>"
				window.location.href= "/book/<%= String(result[i].mvname)%>";
			}
			<%}%>
		 // window.alert(num);
		 // window.location.href= "/book/moviename1";
			//return num;
			
		}
		</script>
		
		</body>
		</html>